@model List<Agent>
@{
    int count = 0;
}
<div class="container">
    <a class="btn btn-primary" asp-action="Create">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">FullName</th>
                <th scope="col">Image</th>
                <th scope="col">Position</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>
                        <div style="width:100px">
                            <img style="width:100%" src="~/Upload/Agent/@item.ImgUrl" />
                        </div>
                    </td>
                    <td>@item.Designation.Name</td>
                    <td>
                        <a class="btn btn-secondary" asp-action="Update" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>